/* Header(2901) */
#header{
  color: #a6a6a6;
  cursor: default;
  position: relative;
  text-align: center;
  z-index: 10001;
  }

  #header > .logo{
    margin: 0 0 4rem 0;
    padding: 0;
  }

  #header > .logo span{
    font-weight: 300;
    font-size: 1rem;
    display: block;
    color: gray;
  }

/* Main(3000) */
#main > .inner{
  margin: 0 auto;
  width: 80rem;
  max-width: 90%;
  margin-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

.wrapper > header{
  text-align: center;
  background: #FFF;
  padding: 2rem;
  margin: 0;
}
.wrapper > header h2{
  position: relative;
  padding-bottom: .75rem;
}

/* 이거 잘 모르겠 */
.wrapper > header h2:after{
  content:'';
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
  width: 10%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.125);
}

.wrapper > header p{
  text-transform: uppercase;
  font-weight: 300;
  font-size: .8rem;
  letter-spacing: .25rem;
  margin: 0;
}

.wrapper > header.special{
  padding: 4rem 2rem;
}

.wrapper.style1 .content{
  padding: 6rem;
}

.wrapper.style2{
  background: #1e1f23;
  padding: 6rem;
}

  .wrapper.style2 header{
    background: #121315;
    border-radius: 4px 4px 0 0;
  }

  .wrapper.style2 header h2{
    color: #FFF;
  }

/* after 잘 모르겠구만 */
  .wrapper.style2 header h2:after{
    background-color: rgba(255, 255, 255, 0.125);
  }

  .wrapper.style2 header p{
    color: rgba(255, 255, 255, 0.25);
  }
/* 여기까지가 Main // 근데 사진이 4래로 딱 맞아떨어져야하는데, javascript를 아직 안써서 그런지 그게 구현안됨. 사이즈를 조절해서라도 구현해보기*/
/* Three 조금더 추가해야 할거 같은데 확인해보기 */
/* 여기부터 Footer(3147) */
#footer{
  padding: 2rem 0 0.1rem 0;
  text-align: center;
}

#footer a{
  color: gray;
}
#footer a:hover{
  color: black;
}
#footer li{
  list-style: none;
}
